.app {
  height: 100vh;
  display: flex;
  background: #020230;
  color: white;
}
.main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/bg.jpg") center;
  display: flex;
  flex-direction: column;
}
.top {
  height: 50%;
  position: relative;
}
.timer {
  width: 70px;
  height: 70px;
  border: 5px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 70px;
}
.bottom {
  height: 50%;
}
.pyramid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.moneylist {
  list-style: none;
  width: 100%;
  padding: 10px;
}
.moneylistItem {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.moneylistItem.active {
  background: teal;
}
.moneylistItemnumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}
.moneylistItemamount {
  font-size: 20px;
  font-weight: 300;
}
.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.question {
  width: 80%;
  background: linear-gradient(#100241, black);
  border: 2px solid white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.answer {
  width: 40%;
  padding: 10px;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 100;
  margin: 0 10px 20px 10px;
}
.answer:hover,
.answer.active {
  background: mediumblue}
  .answer.correct {
    animation: correct 3s ease forwards;
  }
  .endText{
   position: relative;
    margin: auto;

  }
  @keyframes correct {
    0%,
    22%,
    42% {
      background: mediumblue;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
      background: green;
    }
  }
  .answer.wrong {
    animation: wrong 3s ease forwards;
  }
  
  @keyframes wrong {
    0%,
    22%,
    42% {
      background: mediumblue;
    }
    20%,
    40%,
    60% {
      background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
      background: crimson;
    }
  }
  
 
